body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.dropdown-toggle{
  white-space: nowrap;
  margin-bottom: .5rem!important;
}

#HomeHeader{
  margin-bottom: 1em;
}
#HomepageContainer{
  margin-top: 5em;
  margin-left: 5em;
}


.AccordionList{
  width: 75%;
  margin-left: 1em;
}


.card-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#FavoriteButton{
  justify-self: flex-end;
}

.SearchBarForm{
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
}

.AddWorkoutForm{
  width: 50%;
  margin: 1em 20em 1em;
}

#formWorkoutDuration, #formWorkoutUserId{
  width: 20em;
}

.errorAlert, .successAlert{
  width: 50%;
  margin: 1em 20em 1em;
}


html,body{
  height: 100%;
}

button{
  padding: 8px 16px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #e69100;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}