body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  margin-bottom: 2em;
}

.AccordionList{
  width: 75%;
  margin-left: 1em;
}


.card-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#FavoriteButton{
  justify-self: flex-end;
}

.SearchBar{
  margin-left: 1em;
}

.AddWorkoutForm{
  width: 50%;
  margin: 1em 20em 1em;
}

#formWorkoutDuration, #formWorkoutUserId{
  width: 20em;
}

.errorAlert, .successAlert{
  width: 50%;
  margin: 1em 20em 1em;
}